/* USER INPUT  */
.input {
    border: 1px solid #d1d1d2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 6px 8px;
    background: #fff;
    box-shadow: inset 0 0 3px #d7d9da;
    -webkit-box-shadow: inset 0 0 3px #d7d9da;
    -moz-box-shadow: inset 0 0 3px #d7d9da;
    margin-bottom: 11px;
}
    .input input,
    .input input:focus,
    .input textarea,
    .input textarea:focus {
        width: 99%;
        border: 0px;
        outline: 0 none;
        font-size: 13px;
    }
    .input .default {
        color: #cecfd0;
        font-style: italic;
    }
    .input b.mandatory {
        float: right;
        margin: -25px -20px 0 0;
        font-weight: normal;
        font-size: 12px;
    }

.option {
    display: inline-block;
    padding: 3px 7px 3px 5px;
    
}
.option.active {
    background: #e9ebec;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
    .option a.remove {
        background: url('../img/deleteSmall.png') no-repeat center;
        display: inline-block;
        width: 11px;
        margin: 0 3px;
    }
        .option a.remove:hover {
            text-decoration: none;
        }
    
    .option .actions {
        display: none;
    }    
    .option.active .actions {
        display: inline-block;
    }

.slider {
    position: relative;
}
    .slider .oneToN {
        font-size: 11px;
    }
        .slider .oneToN span {
            color: #6c6e71;
        }
    .slider a {
        padding: 2px 5px;
    }
    .slider a.selected {
        background: #43b1cf;
        border-radius: 3px;
        -moz-border-radius: 3px;
        color: #fff;
        cursor: default;
    }
        .slider a.selected:hover {
            text-decoration: none;
        }
    .slider .param {
        padding: 4px 6px;
        display: inline-block;
    }
    .active .param {
        background: #e9ebec;
        border-radius: 3px;
        -moz-border-radius: 3px;
    }
        .slider .param .actions {
            margin-top: 3px;
            display: block;
        }
    .slider a.remove {
        position: absolute;
        right: -40px;
        top: 50%;
    }
.slider.active {
    background: none;
    border-radius: none;
    -moz-border-radius: none;
}

.sliderControl {
    display: inline-block;
    width: 250px;
    height: 30px;
    white-space: nowrap;
}
    .sliderControl .point {
        display: inline-block;
        text-align: center;
        font-size: 11px;
        font-style: italic;
        float: left;
        width: 10%;
        height: 22px;
        position: relative;
    }
        .sliderControl .point i {
            position: absolute;
            display: block;
            width: 1px;
            height: 9px;
            left: 50%;
            overflow: hidden;
            bottom: 0px;
            background: #cccdcf;
        }
    .sliderControl .line {
        float: left;
        background: #cccdcf;
        height: 5px;
        margin: -5px 5% 0 5%;
        width: 225px;
        position: relative;
    }
    .sliderControl .runner {
        position: absolute;
        left: 100px;
        width: 7px;
        height: 12px;
        margin: -5px 0 0 -3px;
        background: url('../img/sliderRunner.gif');
    }

.to5 .point {
    width: 20%;
}
.to5 .line {
    margin-left: 10%;
    margin-right: 10%;
    width: 200px;
}

.range {}
    .range .input {
        padding: 1px 3px;
        display: inline-block;
        width: 20px;
        position: relative;
        margin-right: 15px;
    }
        .range .input a {
            position: absolute;
            right: -10px;
            width: 6px;
            height: 4px;
        }
            .range .input a.up {
                top: 30%;
                background: url('../img/arrowUpInput.gif') no-repeat center;
            }
            .range .input a.down {
                bottom: 30%;
                background: url('../img/arrowDownInput.gif') no-repeat center;
            }
            .range .input a:hover {
                text-decoration: none;
            }

    .range a.down {
        display: inline-block;
        width: 6px;
        background: url('../img/arrowDownInput.gif') no-repeat center;
    }

/* !USER INPUT */

/* BUTTONS */
a.button {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    text-align: center;
    padding: 0 8px;
    cursor: pointer;
    text-decoration: none;
    
    border: 1px solid #517301;
    background: #688f00;
    
    text-shadow: #333 0 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#759a00), to(#5d8600));
    background-image: -moz-linear-gradient(top,  #759a00,  #5d8600);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
    a.button b {
        font-size: 16px;
        display: block;
        float: left;
        margin: 1px 6px 0 0;
    }
    a.button span.down {
        height: 8px;
        display: block;
        margin-bottom: -8px;
        background: url('../img/buttonGreenDown.png') no-repeat center;
    }

a.wide {
    padding: 2px 15px;
}

a.big {
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding: 0 23px;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 15px;
}
    a.big b {
        font-size: 27px;
        margin: 0px 12px 0 0;
    }
  
a.grey {
    border-color: #d9dbdc;
    background: #f4f5f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9eced));
    background-image: -moz-linear-gradient(top,  #fefefe,  #e9eced);
    color: #707476;
    height: 17px;
    line-height: 17px;
    font-size: 11px;
    text-shadow: none;
}
a.bigger {
    padding: 2px 10px;
}

/* !BUTTONS */
    
    
/* BLOCK */ 
.block {
    padding: 20px 40px;
    background: #fff;
    margin: 0 0 10px 0;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

    .block .date {
        font-size: 11px;
        color: #8a9595;
        line-height: 19px;
    }
        .block .date a.button {
            float: right;
        }
    
    .block .close {
        width: 13px;
        height: 13px;
        background: url('../img/close.png') no-repeat;
        position: absolute;
        right: 11px;
        top: 11px;
        cursor: pointer;
    }
    
    .block .content {
        margin-top: 20px;
    }
    
        .block .content .transcript{
            font-size: 14px;
            font-weight: bold;
            color: #989a9c;
            line-height: 20px;
            margin-bottom: 7px;
            display: block;
        }
        
        .block .content .transcript {
            background: url('../img/transcriptGrey.png') no-repeat;
            padding-left: 23px;
        }
        
        .block .content .transcript.blue {
            background-image: url('../img/transcriptBlue.png');
        }
        
        .block .content .blue {
            color: #43b1cf;
        }

#right .block,
.grey {
    background: #dfe2e4;
    padding: 20px;
}
    #right .block .outer {
        background: #fff;
        margin: 20px -20px -20px -20px;
        padding: 20px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        text-align: center;
    }

.block .grey {
    padding: 10px;
}

.lightGrey {
    background: #f5f6f7;
    padding: 0px 20px 20px 20px;
}
    .lightGrey .title {
        padding: 9px 12px 7px 12px;
        margin-bottom: 15px;
        color: #fff;
        font-size: 11px;
        display: inline-block;
        background: #97c41d;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
    }
    .lightGrey .inactive {
        background: #dadddf;
    }
    
    .lightGrey .date {
        font-size: 12px;
        margin-bottom: 10px;
    }
        .lightGrey .date span {
            margin-right: 20px;
        }
    .lightGrey .actions {
        float: right;
        position: relative;
        margin: 9px 20px 0 0;
    }
        .lightGrey .actions .close {
            top: 0px;
            right: -43px;
        }


.userInfo {}

    .userInfo .avatar {
        float: left;
        width: 70px;
        height: 70px;
    }
        .userInfo .avatar img {
            border-radius: 4px;
            -moz-border-radius: 4px;
        }
        
    .userInfo .info {
        color: #292e30;
        margin-bottom: 10px;
    }
        .userInfo .info h5 {
            margin: 0px;
            font-size: 14px;
        }
        .userInfo .info i {
            display: block;
            font-size: 11px;
            color: #989a9c;
            margin-bottom: 10px;
        }
        .userInfo .info span {
            font-size: 12px;
        }
            .userInfo .info span a {
                font-weight: bold;
            }
            
            
.media {
    margin-left: -10px;
}

    .media .item {
        display: inline-block;
        border: 5px solid #2b3033;
        border-radius: 4px;
        margin: 25px 0px 0px 10px;
        position: relative;
    }
        .media .item .delete {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            top: -15px;
            right: -15px;
            background: url('../img/mediaDelete.png') no-repeat;
            cursor: pointer;
        }
       
       
.calendar {
    display: inline-block;
    width: 199px;
}
    .calendar .month {
        font-size: 12px;
    }
        .calendar .month .prev {
            float: left;
            width: 8px;
            height: 12px;
            background: url('../img/monthPrev.png');
            margin-left: 10px;
        }
        .calendar .month .next {
            float: right;
            width: 8px;
            height: 12px;
            background: url('../img/monthNext.png');
            margin-right: 10px;
        }
        
    .calendar .day {
        display: inline-block;
        margin: 3px 0px 0 0;
        padding: 0px;
        width: 23px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        color: #848484;
        font-size: 11px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        -moz-border-radius: 3px;
    }
    .calendar .light {
        color: #d7d7d7;
    }
    .calendar .dark {
        background: #282d2f;
        border-color: #282d2f;
        color: #fff;
    }
    .calendar .weekDay {
        border: 1px solid #fff;
        font-weight: bold;
        color: #a7a7a7;
        text-transform: capitalize;
    }
    .calendar .active {
        background: url('../img/activeDay.gif') no-repeat 18px 13px;
    }
            
.tabs {
    
}
    .tabs a.tab {
        display: inline-block;
        padding: 10px;
        font-size: 11px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: #43b1cf;
        z-index: 10;
        cursor: pointer;
    }
    .tabs a.active {
        color: #000;
        background: #f5f6f7;
        border: 1px solid #d1d1d2;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border-bottom: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        cursor: default;
    }
        .tabs a.active:hover {
            text-decoration: none;
        }
    .tabs .container {
        z-index: 9;
        margin-top: -1px;
        background: #f5f6f7;
        padding: 15px 20px;
        border: 1px solid #d1d1d2;
        border-radius: 4px;
        -moz-border-radius: 4px;
    }
    .tabs .firstActive {
        border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
    }
        .tabs .container .tabs .container {
            padding: 15px 0 10px 0;
            border-radius: 0px;
            -moz-border-radius: 0px;
            border: 0px;
            border-top: 1px solid #d1d1d2;
        }
            .tabs .container .tabs .container a.ml10 {
                display: inline-block;
                margin-top: 5px;
            }
        .tabs .container .tabs a.tab {
            border-bottom: 1px solid #d1d1d2;
        }
        .tabs .container .tabs a.active {
            border-bottom: 1px solid #f5f6f7;
        }
            
    .tabs a.radio {
        height: 11px;
        width: 15px;
        background: #f5f6f7 url('../img/iconRadioButtons.gif') no-repeat center;
    }
    .tabs a.checkbox {
        height: 11px;
        width: 15px;
        background: #f5f6f7 url('../img/iconCheckboxes.gif') no-repeat center;
    }
    .tabs a.slider {
        height: 11px;
        width: 15px;
        background: #f5f6f7 url('../img/iconSlider.gif') no-repeat center;
    }
        .tabs a.radio:hover,
        .tabs a.checkbox:hover,
        .tabs a.slider:hover {
            text-decoration: none;
        }
            
/* !BLOCKS */


/* LIST */
.list {
    color: #0e0f10;
}
    .list dl {
        margin: 20px 0;
        padding: 0px;
    }
        .list dt {
            margin: 0px 0 10px 0;
            padding: 0px;
            font-size: 14px;
            
        }
        .list dd {
            margin: 0px 0;
            padding: 0px;
        }
            .list dd small {
                display: block;
                color: #8a9595;
                font-size: 11px;
            }
            .list dd a {
                display: inline-block;
                font-size: 14px ;
            }

table.list {
    border-collapse:collapse;
}
    table.list th,
    table.list td {
        padding: 10px 20px 10px 0;
        white-space: nowrap;
    }
    table.list th {
        padding-top: 0px;
        text-align: left;
        font-weight: normal;
        border-bottom: 1px solid #eff0f1;
    }
    table.list td {
        color: #6c6e71;
        font-size: 12px;
    }
        table.list td a {
            font-size: 14px;
            font-weight: bold;
        }
        table.list td .close {
            position: relative;
            float: right;
            top: 0px;
            right: 0px;
        }
            table.list td .close:hover {
                text-decoration: none;
            }
            
.questions {}
    .questions .grey {
        margin-top: 10px;
        padding: 15px 15px 15px 50px;
        background: #f5f6f7;
    }
        .questions .grey:hover {
            background: #eff0f1;
        }
    .questions .block {
        color: #6c6e71;
        font-size: 14px;
    }
        .questions .block .arrows {
            width: 7px;
            height: 18px;
            position: absolute;
            left: 15px;
            top: 17px;
        }
            .questions .block .arrows a {
                display: block;
                width: 7px;
                height: 9px;
                cursor: pointer;
                text-decoration: none;
                overflow: hidden;
            }
                .questions .block .arrows a:hover {
                    text-decoration: none;
                }
                .questions .block .arrows a.up {
                    background: url('../img/arrowUpSmall.png');
                }
                .questions .block .arrows a.down {
                    background: url('../img/arrowDownSmall.png');
                }
            
        .questions .block b.num {
            float: left;
            font-size: 18px;
            color: #292e30;
            width: 20px;
            font-weight: normal;
            margin-left: -20px;
        }
        .questions .block .actions {
            margin-top: 15px;
        }
        .questions .block .button {
            margin-top: 15px;
        }
        .questions .block small a {
            color: #6c6e71;
        }
    .questions h3 .actions {
        display: inline-block;
        margin-left: 10px;
    }
#leftShort .questions {
    margin-left: -20px;
    margin-right: -20px;
}
    #leftShort .questions div {
        padding: 10px 30px 10px 45px;
        position: relative;
        color: #6c6e71;
    }
        #leftShort .questions div b {
            position: absolute;
            left: 20px;
            color: #000;
            font-weight: normal;
        }

    #leftShort .questions div.hover {
        color: #fafafa;
        background: #b9bdc0;
    }
    #leftShort .questions div.selected {
        background: #d0d3d6 url('../img/mark.png') no-repeat 97% 13px;
    }
    #leftShort .questions a.up {
        background: url('../img/arrowUpQuestionsBlue.png') no-repeat center;
        height: 10px;
        display: block;
        margin-bottom: 5px;
    }
        #leftShort .questions a.up.inactive {
            background: url('../img/arrowUpQuestions.png') no-repeat center;
            cursor: default;
        }
    #leftShort .questions a.down {
        background: url('../img/arrowDownQuestionsBlue.png') no-repeat center;
        height: 10px;
        display: block;
        margin-top: 5px;
    }
        #leftShort .questions a.down.inactive {
            background: url('../img/arrowDownQuestions.png') no-repeat center;
            cursor: default;
        }
    #leftShort .questions a.up:hover,
    #leftShort .questions a.down:hover {
        text-decoration: none;
    }
    

/* !LIST */


/* LINKS */    
.actions a {
    color: #43b1cf;
    padding-left: 17px;
    line-height: 13px;
    font-size: 11px;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.actions a.edit {
    background: url('../img/pen.png') no-repeat 0px 1px;
}
.actions a.import {
    background: url('../img/import.png') no-repeat;
}
/* !LINKS */


/* OTHER */
.block hr {
    margin: 20px -40px 0 -40px;
    border: 0;
    height: 1px;
    background: #f0f1f1;
}

#leftShort hr {
    margin: 20px -20px;
    border: 0;
    height: 1px;
    background: #c8cbcd;
}

.withCounter {
    font-size: 14px;
    font-weight: bold;
    color: #989a9c;
    line-height: 20px;
    margin-bottom: 7px;
    display: block;
}
    .withCounter span {
        display: inline-block;
        line-height: 22px;
    }
        .withCounter span.counter {
            width: 20px;
            height: 20px;
            margin-top: -3px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            text-align: center;
            font-size: 11px;
            font-weight: normal;
            color: #fff;
            background: #bec6cb;
        }

.big span {
    color: #0e0f10;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
}
    .big span.counter {
        line-height: 21px;
    }
/* !OTHER */