body {
    padding: 0;
    margin: 0;
    font: normal 13px Helvetica, sans-serif;
    background: #f2f4f5 url('../img/bg.gif');
}

input, textarea {
    font-family: Helvetica, sans-serif;
}

p {
    margin: 13px 0;
}

a {
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
    margin: 8px 0 5px 0;
    padding: 0px;
}
    h2.small {
        font-size: 18px;
        color: #000;
    }

h3 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: normal;
}
    h3.italic {
        font-style: italic;
        color: #868787;
    }
    h3 i {
        border-left: 1px solid #dfe2e4;
        width: 1px;
        overflow: hidden;
        margin: 0 2px 0 5px;
    }

h4 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
}
h4.normal {
    text-transform: none;
}
h4.small {
    font-size: 12px;
    color: #000;
}