.date,
.small {
    font-size: 11px;
    color: #8a9595;
    line-height: 19px;
}

.big span {
    color: #0e0f10;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
}
    .big span.counter {
        line-height: 21px;
    }

span.dot {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 0px;
    background: #dadddf;
}
.row {
    width: 320px;
    display: inline-block;
    position: relative;
}


/* HR */
    hr.pro,
    .block hr {
        margin: 20px -40px 0 -40px;
        border: 0;
        height: 1px;
        background: #f0f1f1;
    }

    hr.pro {
        background: #e3e3e4;
    }

    #leftShort hr.narrow,
    hr.narrow {
        margin: 10px 0;
    }

    #rightLong hr {
        margin: 0px;
        border: 0;
        height: 1px;
        background: #c8cbcd;
    }

    #leftShort hr {
        margin: 20px -20px;
        border: 0;
        height: 1px;
        background: #c8cbcd;
    }
    #leftShort .personal hr {
        background: #b5b7b8;
    }
/* OTHER */
    .withCounter {
        font-size: 14px;
        font-weight: bold;
        color: #989a9c;
        line-height: 20px;
        margin-bottom: 7px;
        display: block;
    }
        .withCounter span {
            display: inline-block;
            line-height: 22px;
        }
            .withCounter span.counter {
                width: 20px;
                height: 20px;
                margin-top: -3px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                text-align: center;
                font-size: 11px;
                font-weight: normal;
                color: #fff;
                background: #bec6cb;
            }

    .loadMore {
        padding: 0px;
        text-align: center;
    }
        .loadMore a {
            display: inline-block;
            padding-left: 23px;
            margin-top: 20px;
            font-size: 15px;
            line-height: 18px;
            background: url('../img/loadMore.png') no-repeat left center;
        }

    .error {
        position: absolute;
        background: #ffeb7a;
        color: #ed493e;
        border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 9px 17px 20px;
        left: 100%;
        top: 42px;
        margin-left: 20px;
        width: 230px;
    }
        .error i {
            position: absolute;
            width: 8px;
            height: 17px;
            left: -8px;
            top: 10px;
            background: url('../img/error.png');
        }

/* FIXES */
    #leftShort .checkboxes {
        margin: 0px -5px 0px 0px;
    }
        #leftShort .checkboxes div {
            padding-right: 0px;
        }

    .chooseEmotion {
        width: 160px;
    }